data/raw/*
data/processed/*
data/embeddings/*
results/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/embeddings/.gitkeep
!results/metrics_sample.csv
!results/figures/
!results/figures/.gitkeep

.ipynb_checkpoints/
__pycache__/
.cache/
*.pt
*.pth
*.npy
*.pkl

.DS_Store
.venv/
venv/
env/
